<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>554922277176-fa8dn513plshmkecnnvuud1kgcbc315b.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDvGmzQbk-qHURRj2kU04uhYSwZUMYxhZc</string>
	<key>GCM_SENDER_ID</key>
	<string>554922277176</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pizzaOrderApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>sample-d7987</string>
	<key>STORAGE_BUCKET</key>
	<string>sample-d7987.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:554922277176:ios:b6b5c097975b92665c29cd</string>
	<key>DATABASE_URL</key>
	<string>https://sample-d7987-default-rtdb.firebaseio.com</string>
</dict>
</plist>